<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="portal_in" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\prog\Python\python.exe|C:\prog\Python\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
	<appSettings>
	<add key="WSGI_HANDLER" value="main.app"/>
	<add key="PYTHONPATH" value="C:\inetpub\wwwroot\portal_in"/>
	</appSettings>
</configuration>
