{% extends "template.html" %}
{% block conteudo %}
    
<div class="container">
    <div id="contador-container" class="text-center mt-3"> 
        A página será atualizada em <strong><span id="contador">300 </strong></span> segundos.
    </div>
</div>

</br></br>

<div class="container col-md-8">
    <table class="table table-bordered text-center">
        <thead class="thead-light bg-light text-center">
          <tr>
            <th scope="col"><small><strong>Origem</strong></small></th>
            <th scope="col"><small><strong>Discadas</strong></small></th>
            <th scope="col"><small><strong>Inválidas</strong></small></th>
            <th scope="col"><small><strong>%</strong></small></th>
            <th scope="col"><small><strong>Farol</strong></small></th>
          </tr>
        </thead>
        <tbody>

          {% for row in rows %}
          <tr>
            <th scope="row"><small class="text-muted">PAV</small></th>
            <td small class="text-muted">{{ row[0] }}</td>
            <td small class="text-muted">{{ row[1] }}</td>
            <td small class="text-muted">{{ row[2] }}%</td>

            {% set row2_as_int = row[2] | replace('%', '') | int %}

            {% if row2_as_int < 70 %}
                <td><img src="../televendas/static/img/verde.png" width="25"></td>

            {% elif 70 <= row2_as_int <= 80 %}
                <td><img src="../televendas/static/img/amarelo.png" width="30"></td>

            {% else %}
                <td><img src="../televendas/static/img/vermelho.png" width="25"></td>

            {% endif %}

          {% endfor %}  

        </tbody>
      </table>
</div>

</br></br>

<div class="container col-md-12">
    <div class="border bg-light">
        <button class="btn bg-white text-muted border bg-light">Primeira Cautelar</button>
        <a href="{{ url_for('televendas.segundacautelar_televendas') }}" class="btn bg-light text-primary">Segunda Cautelar</a>
    </div>

    <div class="border">
    <div class="container col-md-12">
    <div class="container mt-5 px-2">
    
        <form method="POST" role="search" action="{{ url_for('televendas.buscarpcautelar_televendas') }}">
            <div class="mb-2 d-flex justify-content-between align-items-center"> 
                <div class="position-relative">
                    <span class="position-absolute search"></span>
                    <input class="form-control w-100" name="pesquisa" id="pesquisa" placeholder="Pesquisar...">
                </div>
            </div>
        </form>
    
        
        <div style="position: relative;">
            <a href="{{ url_for('televendas.home_televendas') }}">
                <img src="../televendas/static/img/atualizar.png" width="35" style="position: absolute; right: 0; top: -40px;">
            </a>
        </div>



    <div class="table-responsive bg-light">
        <table class="table table-responsive table-bordered table-striped table-hover bg-light">    
            <thead>
                <tr class="bg-light">
                <th scope="col" width="10%"><small>ORIGFLEX</small></th>
                <th scope="col" width="10%"><small>UN's</small></th>
                <th scope="col" width="20%"><small>Total Discagens Consultadas</small></th>
                <th scope="col" width="20%"><small>Total Discagens Bloqueadas</small></th>
                <th scope="col" width="10%"><small>Ocupação</small></th>
                <th scope="col" width="10%"><small>Farol</small></th>
                </tr>
            </thead>
            <tbody class="bg-light">

                {% for row in rowsp %}
                <tr>
                <!-- ORIGFLEX -->
                <td> {{ row[0] }} </td>

                <!-- UN's -->
                <td> A5 </td>

                <!-- Total Discagens Consultadas -->
                <td> {{ row[1] }} </td>

                <!-- Total Discagens Bloqueadas -->
                <td> {{ row[2] }} </td>

                <!-- Ocupaçãos -->
                <td> {{ row[3] }}% </td>

                <!-- Farol do Total Bloqueadas -->
                {% set row3_as_int = row[3] | int %}

                {% if row3_as_int < 70 %}
                    <td><img src="../televendas/static/img/verde.png" width="25"></td>

                {% elif 70 <= row3_as_int <= 80 %}
                    <td><img src="../televendas/static/img/amarelo.png" width="25"></td>

                {% else %}
                    <td><img src="../televendas/static/img/vermelho.png" width="25"></td>

                {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

<script>
    // Função para atualizar a página a cada 5 minutos (300.000 milissegundos)
    function atualizarPagina() {
        location.reload();
    }

    // Chama a função para atualizar a página a cada 5 minutos
    setInterval(atualizarPagina, 300000); // 300000 milissegundos = 5 minutos


    // Função para atualizar a contagem regressiva
    function atualizarContagemRegressiva(segundos) {
        const contadorElemento = document.getElementById("contador");

        // Atualiza o valor do elemento
        contadorElemento.textContent = segundos;

        // Decrementa o contador
        segundos--;

        // Se o tempo acabar, atualiza a página
        if (segundos < 0) {
            location.reload();
        } else {
            // Chama a função novamente após 1 segundo
            setTimeout(() => atualizarContagemRegressiva(segundos), 1000);
        }
    }

    // Inicializa a contagem regressiva
    atualizarContagemRegressiva(300); // Inicializa a contagem em 300 segundos (5 minutos)


</script>

<script src="televendas/static/js/auth.js"></script>
{% endblock %}

