{% extends "navbar.html" %}



{% block content %}
<br/><br/><br/>
<div class="container">
    <div class="row">
        
        <div class="card mb-3 col-md-5">
            <a style="text-decoration: none; color: black;" href="#">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="homepage/static/img/admin.png" style="margin: 30px;" width="70%" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">Administração</h5>
                <p class="card-text">Atribuição de Privilégios, Alteração no usuário, Configuração do portal...</p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
            </div>
            </a>
        </div>

        <div class="mb-3 col-md-1"></div>

        <div class="card mb-3 col-md-5">
            <a style="text-decoration: none; color: black;" href="#">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="homepage/static/img/filtro.png" style="margin: 30px;" width="70%" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">Gcamp</h5>
                <p class="card-text">Gerenciador de campanhas, células, relacionamentos, canais de discagem...</p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
            </div>
            </a>
        </div>
    </div>



    <div class="row">
        
        <div class="card mb-3 col-md-5">
            <a style="text-decoration: none; color: black;" href="#">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="homepage/static/img/assistente-de-robo.png" style="margin: 30px;" width="70%" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">Smart Agent</h5>
                <p class="card-text">É a PA Virtual da A5 Solutions, substitui ou completa ação de um ser humano.</p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
            </div>
            </a>
        </div>

        <div class="mb-3 col-md-1"></div>

        <div class="card mb-3 col-md-5">
            <a style="text-decoration: none; color: black;" href="#">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="homepage/static/img/grafico-preditivo.png" style="margin: 30px;" width="70%" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">Smart View</h5>
                <p class="card-text">Ferramenta de Analytics.</p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
            </div>
            </a>
        </div>
    </div>



    <div class="row">
        <a style="text-decoration: none; color: black;" href="#">
        <div class="card mb-3 col-md-5">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="homepage/static/img/a5digital.png" style="margin: 30px;" width="70%" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">A5 Digital</h5>
                <p class="card-text">Configurações dos fluxos de clientes, Alteração em textos, mensagens, alteração em usuários do A5 Digital...</p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
            </div>
            </a>
        </div>

        <div class="mb-3 col-md-1"></div>

        <div class="card mb-3 col-md-5">
            <a style="text-decoration: none; color: black;" href="#">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="homepage/static/img/central-de-atendimento.png" style="margin: 30px;" width="70%" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                
                <div class="card-body">
                <h5 class="card-title">Smart Operation</h5>
                <p class="card-text">Portal para inicialização e acompanhamento de campanhas ativas e receptivas em tempo real.</p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                
                </div>
                
            </div>
            </div>
            </a>
        </div>
    </div>



    







    



</div>
  


{% endblock %}